<form action="/random/results">
<div>
    <label for="zebra">Minimum</label>
    <input id="zebra" type="text" placeholder="E.g. 1.5" name="pony">
</div>

<div>
    <label for="donkey">Maximum</label>
    <input id="donkey" type="text" placeholder="E.g. 4.5" name="horse">
</div>

<div>
<button>Pick random number</button>
</div>

</form>